.inputfield {
    clear: both;
    text-align: right;
}

.input_show {
    width: 120px;
    height: 50px;
    border-radius: 8px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    padding: 12px;
}

.question {
    float: left;
}

.inputcontainer {
    clear: both;

}

.select_container {
    min-height: 30px;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    padding: 20px;
}


/* Might want to wrap a span around your checkbox text */

.checkbox_txt {
    /* Checkbox text */
    font-size: 100%;
    margin-left: 5px;
    padding-top: 0px;
}

.toggle_btn {
    font-size: 18px;
}

.valg_txt {
    margin-left: 10px;
}

.checkboxes_str {
    margin-right: 50px;
    cursor: pointer;
}

.input_p {
    cursor: pointer;
    /* display: block; */
    font-size: 15px;
    font-weight: 100;
    margin-right: 30px;
}

.toggle_btn{
    cursor: pointer;
}

.toggleglyph{
        padding: 10px 0px 14px 0px;
}

.next_info{
    margin-top: 20px;
    color: #777;0000
    width: 50%;
}


/****************************************************************
                        Tilføjet af THAN
****************************************************************/



.attemptsAndcorrectAnswers{
    border: 1px solid #000;
    padding: 7px 10px 5px 10px;
    border-radius: 5px;
    position: relative;
    top: 3px;
}

.attemptsAndcorrectAnswers .glyphicon{
    margin-right: 5px;
    font-size: 1.5em;
    top: 4px;
}

.attemptsAndcorrectAnswers_subDisplay:nth-child(2){
    margin-right: 20px;
}


.spacer {
    margin-top: 13px;
}

.marginTopAjust{
    margin-top: 12px;
}

.widthFixed {
    min-width: 215px;
    display: inline-block;
    padding-right: 0px;
}